.container {
  margin: 60px 0;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  width: 1280px;
  max-width: 100%;
}

@media (max-width: 700px) {
  .players {
    gap: 0px;
  }
}
