.container {
  position: relative;
  padding-top: 30px;
  height: calc(100% - 30px);
}

.content {
  position: relative;
  background: radial-gradient(at top, var(--darkerGrey), var(--black));
  border: 1px solid var(--grey);
  border-radius: 8px;
  box-shadow: 3px 5px 15px 0px var(--translucidBlack2);
  padding: 32px 20px;
  overflow-x: auto;
}

.header-container {
  display: flex;
  position: absolute;
  left: 20px;
  top: 4px;
  max-width: 400px;
  z-index: 1;
}

.header {
  text-shadow: 3px 3px 2px var(--black);
  background-image: linear-gradient(
    to right,
    rgba(0, 64, 116, 0.46),
    rgba(0, 37, 63, 0.237)
  );
  box-shadow: 3px 5px 15px 0px var(--translucidBlack2);
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: skewX(-20deg);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Teko";
}

.title {
  transform: skewX(20deg);
}
